on boot

# KCAL permissions
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_enable
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_cont
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_sat
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_hue
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_min
  chown system system /sys/devices/platform/kcal_ctrl.0/kcal_val
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_enable
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_cont
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_sat
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_hue
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_min
  chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_val

# Torch Brightness permissions
  chown root system /sys/class/leds/led:torch_0/max_brightness
  chown root system /sys/class/leds/led:torch_1/max_brightness
  chmod 0660 /sys/class/leds/led:torch_0/max_brightness
  chmod 0660 /sys/class/leds/led:torch_1/max_brightness

# USB Fastcharge permissions
  chown system system /sys/kernel/fast_charge/force_fast_charge
  chmod 0660 /sys/kernel/fast_charge/force_fast_charge

# Backlight Dimmer permissions
  chown system system /sys/module/mdss_fb/parameters/backlight_dimmer
  chmod 0660 /sys/module/mdss_fb/parameters/backlight_dimmer

# FPS Info permissions
  chown system graphics /sys/kernel/debug/dri/0/crtc97/fps
  chmod 0666 /sys/kernel/debug/dri/0/crtc97/fps

# Touchboost permissions
  chown system system /sys/module/msm_performance/parameters/touchboost
  chmod 0660 /sys/module/msm_performance/parameters/touchboost

# LED Brightness permissions
  chown root system /sys/class/leds/white/max_brightness
  chown root system /sys/class/leds/white/brightness
  chmod 0660 /sys/class/leds/white/max_brightness
  chmod 0660 /sys/class/leds/white/brightness

# GPU Boost based on ronax's MayhemParts
    chown system system /sys/devices/platform/soc/5000000.qcom,kgsl-3d0/devfreq/5000000.qcom,kgsl-3d0/adrenoboost
    chmod 0644 /sys/devices/platform/soc/5000000.qcom,kgsl-3d0/devfreq/5000000.qcom,kgsl-3d0/adrenoboost

    # Enable gpu boost support
    setprop gpuboost.support 1

    # Run xiaomiparts script to initialize boost props
    exec u:r:init:s0 root root -- /vendor/bin/init.xiaomiparts.sh
    exec u:r:su:s0 root root -- /vendor/bin/init.xiaomiparts.sh

# GPU-Disable (default profile)
on property:persist.zenparts.gpu_profile=0
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/module/adreno_idler/parameters/adreno_idler_active "Y"
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload "10000" 
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential "35"
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait "25"

# GPU-Low
on property:persist.zenparts.gpu_profile=1
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 1
    write /sys/module/adreno_idler/parameters/adreno_idler_active "Y"
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload "6000" 
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential "15"
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait "25"

# GPU-Medium
on property:persist.zenparts.gpu_profile=2
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 2
    write /sys/module/adreno_idler/parameters/adreno_idler_active "Y"
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload "5000" 
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential "15"
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait "15"

# GPU-High
on property:persist.zenparts.gpu_profile=3
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 3
    write /sys/module/adreno_idler/parameters/adreno_idler_active "N"

